################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FFRK-LabMem/obj
/FFRK-Machines/obj
/FFRK-LabMem/bin
/FFRK-Machines/bin
/packages
/publish
/setup/Output
/FFRK-LabMem/Properties/PublishProfiles/MacOS.pubxml.user
/FFRK-LabMem/Properties/PublishProfiles/win-x64-profile.pubxml.user
/FFRK-LabMem/FFRK-LabMem.csproj.user
