<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="AppSecrets.config">
    <add key="console.timestamps" value="true" />
    <add key="console.debug" value="false" />
    <add key="adb.path" value="adb.exe" />
    <add key="adb.host" value="127.0.0.1:7555" />
    <add key="proxy.port" value="8081" />
    <add key="proxy.secure" value="false"/>
    <add key="lab.configFile" value="Config/lab.balanced.json" />
    <add key="screen.topOffset" value="-1" />
    <add key="screen.bottomOffset" value="-1" />
    <add key="updates.checkForUpdates" value="true" />
    <add key="updates.includePrerelease" value="false" />
    <add key="datalogger.enabled" value="false"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
