<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="AppSecrets.config">
    <add key="console.timestamps" value="true" />
    <add key="console.debugCategories" value="0" />
    <add key="console.logging" value="false" />
    <add key="console.logFolder" value="" />
    <add key="console.logBuffer" value="10" />
    <add key="adb.path" value="adb.exe" />
    <add key="adb.host" value="127.0.0.1:7555" />
    <add key="adb.capture" value="1"/>
    <add key="adb.captureRate" value="200"/>
    <add key="adb.findPrecision" value="0.5"/>
    <add key="adb.findAccuracy" value="0"/>
    <add key="adb.input" value="1" />
    <add key="adb.tapDelay" value="50" />
    <add key="adb.tapDuration" value="0"/>
    <add key="adb.tapPressure" value="50"/>
    <add key="adb.closeOnExit" value="false" />
    <add key="adb.screenshotFolder" value="" />
    <add key="proxy.port" value="8081" />
    <add key="proxy.secure" value="true"/>
    <add key="proxy.blocklist" value="" />
    <add key="proxy.autoconfig" value="false" />
    <add key="proxy.connectionPooling" value="false" />
    <add key="lab.configFile" value="config/lab.balanced.json" />
    <add key="lab.watchdogHangSeconds" value="120"/>
    <add key="lab.watchdogHangWarningSeconds" value="60"/>
    <add key="lab.watchdogHangWarningLoopThreshold" value="10"/>
    <add key="lab.watchdogHangScreenshot" value="false"/>
    <add key="lab.watchdogCrashSeconds" value="30"/>
    <add key="lab.watchdogMaxRetries" value="5"/>
    <add key="lab.watchdogBattleMinutes" value="15"/>
    <add key="lab.watchdogLoopDetectionThreshold" value="6"/>
    <add key="lab.watchdogLoopDetectionWindowMinutes" value="60"/>
    <add key="lab.watchdogBattleMaxRetries" value="5"/>
    <add key="screen.topOffset" value="-1" />
    <add key="screen.bottomOffset" value="-1" />
    <add key="updates.checkForUpdates" value="true" />
    <add key="updates.includePrerelease" value="false" />
    <add key="datalogger.enabled" value="false"/>
    <add key="counters.dropCategories" value="15"/>
    <add key="counters.logDropsToTotal" value="false"/>
    <add key="counters.materialsRarityFilter" value="6"/>
    <add key="scheduler.maintenanceDoneHourUtc" value="13"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
