<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="AppSecrets.config">
    <add key="console.timestamps" value="true" />
    <add key="console.debugCategories" value="0" />
    <add key="adb.path" value="adb.exe" />
    <add key="adb.host" value="127.0.0.1:7555" />
    <add key="adb.closeOnExit" value="false" />
    <add key="proxy.port" value="8081" />
    <add key="proxy.secure" value="true"/>
    <add key="proxy.blocklist" value="" />
    <add key="proxy.autoconfig" value="false" />
    <add key="proxy.connectionPooling" value="false" />
    <add key="lab.configFile" value="config/lab.balanced.json" />
    <add key="lab.watchdogHangMinutes" value="10"/>
    <add key="lab.watchdogCrashSeconds" value="30"/>
    <add key="screen.topOffset" value="-1" />
    <add key="screen.bottomOffset" value="-1" />
    <add key="updates.checkForUpdates" value="true" />
    <add key="updates.includePrerelease" value="false" />
    <add key="datalogger.enabled" value="false"/>
    <add key="counters.dropCategories" value="15"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
